<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro de produos
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="star-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro de produos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="conteudo">
    <ion-text color="warning">Cadastro de produto</ion-text>

    <ion-input fill="outline" label="Código de barras" labelPlacement="floating"></ion-input>
    <ion-input fill="outline" label="Nome" labelPlacement="floating"></ion-input>
    <ion-textarea rows="8" label="Descrição" labelPlacement="floating" fill="outline"></ion-textarea>

    <ion-button fill="outline">Cancelar</ion-button>
    <ion-button>
      <ion-icon name="cart-outline" slot="start"></ion-icon>
      Cadastrar
    </ion-button>
  </div>
</ion-content>
