<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hello, World!
    </ion-title>
    <ion-buttons slot="start">
      <ion-button>TESTE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="width: 90%; display: flex; justify-content: center; margin: auto;">
    <ion-input clearInput="true" label="Nome" labelPlacement="floating" fill="outline" />
  </div>
  <ion-button (click)="minhaFuncao()" color="danger" fill="outline" >
    <ion-icon slot="icon-only" name="star-outline"></ion-icon>
  </ion-button>

  <ion-list lines="none">
    <ion-list-header>Título</ion-list-header>

    @for(fruta of dados; track fruta) {
      <app-fruta [nomeFruta]="fruta"></app-fruta>
      <!-- @if(fruta == 'ABACAXI') {
        <ion-item color="danger">
          {{fruta}}
        </ion-item>
      } @else {
        <ion-item>
          {{fruta}}
        </ion-item>
      } -->
    }
<!-- 
    @for(pessoa of dados2; track pessoa) {
      {{pessoa | json}}
    } -->

    
  </ion-list>
</ion-content>